.item{
   min-width: 30rem;
    padding: 40px;
}
.item .img{
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    pointer-events: none;
}
.inner_carosel{
    display: flex;
    animation: scroll 60s linear infinite;
}
.carosel{
    cursor: grab;
    overflow: hidden;
    padding: 10px;
    height: 500px;
    background-color: #424242;

}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 12));
    }
}