.learnPage .btn {
  border-radius: 4px;
  /* border: 2px solid #000000; */
  color: #ffffff;
  display: flex;
  background-color: #009cd0;
  margin: 0 0.25em;
  overflow: hidden;
  padding: 1rem 3rem 1rem 1rem;
  position: relative;
  text-decoration: none;
  /* line-height: 1; */
  width: 60%;
}

.learnPage .btn .btn_content {
  font-size: 20px;
  line-height: 1.75;
  font-family: "Poppins", sans-serif;
  padding: 0 26px;
  position: relative;
  right: 0;
  transition: right 0.3s ease;
  display: block;
  text-align: left;
}
.learnPage .btn .icon {
  border-left: 1px solid #fff;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 0.3s ease;
  width: 58px;
  height: 70%;
}
.learn_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.learn_img img {
  width: 100%;
  padding-right: 5rem;
}

.why_code8_heading h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 80px;
  font-size: 64px;
  font-family: "poppins";
  font-weight: 400;
}

.explore_courses p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 3px;
  font-size: 20px;
  letter-spacing: 3px;
}

.learn_bh {
  padding-top: 20px;
  color: white;
  text-align: center;
}

.explore_courses {
  background: linear-gradient(136deg, #56a8d0, #00b7d5, #089ee8);
}

.learn_grid_container {
  display: flex;
}

/* @media only screen and (min-width: 791px) {
    .learn-grid-container {
        display: grid; 
        grid-template-columns: auto auto;
    }
} */

.grid_container_Courses_project {
  justify-content: center;
  /* margin-top: 50px; */
  padding-right: 60px;
  display: grid;
  grid-template-columns: auto auto;
}

.learnPage {
  overflow: hidden;
}

.learn_page_h1 {
  padding-left: 90px;
  margin-top: 100px;
  font-size: 3rem;
  font-family: poppins;
  font-weight: 700;
  color: #009cd0;
}

.learnPage .btn .btn_content {
  font-size: 20px;
  line-height: 1.75;
  font-family: "Poppins", sans-serif;
  padding: 0 26px;
  position: relative;
  right: 0;
  transition: right 300ms ease;
  display: block;
  text-align: left;
}

.learnPage hr {
  color: #009cd0;
}

.learnPage .btn .btn_content p {
  color: #009cd0;
}

.learnPage .btn .icon {
  border-left: 1px solid #ffffff;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transition: all 300ms ease;
  transform: translateY(-50%);
  width: 58px;
  height: 70%;
}
.icon {
  padding-top: 0.5rem;
}
.learnPage .btn .icon i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #009cd0;
  opacity: 0;
  transition: opacity 300ms ease;
}

.learnPage .btn:hover .btn_content {
  right: 100%;
}

.learnPage .btn:hover .icon {
  border-left: 0;
  font-size: 1.8em;
  width: 100%;
}

.learnPage .btn:hover:after {
  opacity: 0.2;
}

.learnPage .btn.btn_alt_color {
  border-color: salmon;
  color: salmon;
}

.learnPage .btn.btn_alt_color .icon {
  border-left-color: salmon;
}

.learnPage .btn.btn_alt_color:after {
  background-color: salmon;
}

.learn_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 4;
}

.flex {
  display: flex;
  justify-content: center;
}

.justify_content_center {
  justify-content: center;
}

.coming_soon {
  display: flex;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  padding: 2rem 3rem 2rem 2rem;
}

.s2_hello {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px;
  align-items: center;
  margin-bottom: 70px;
}
.stats2_information {
  width: 100%;
  display: flex;
}
.mentor_text_info {
  padding: 2rem 5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
}

.information {
  width: 100%;
}

.hello .list {
  background-color: rgba(25, 120, 165, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  height: 100%;
  /* list-style-image: url("pages/icons/check\ \(1\)\ 4.png"); */
  border-radius: 40px;
  padding-bottom: 1rem;
}

/* .hello .list ul {
    margin-top: 1rem;
}

.hello .list ul li {
    margin-top: 1rem;
}

.hello .list h3 {
    margin-top: 2rem;
} */

.register_now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coursepg {
  display: flex;
  padding: 15px 90px 2rem;
  font-size: 20px;
  line-height: 1.75;
  font-family: "Poppins", sans-serif;
  color: #fff;
  color: black;
}

.learn_more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 20px;
  font-family: "poppins";
  font-weight: 400;
}

.mui_typography {
  font-size: 28px;
  color: black;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
}

@media only screen and (max-width: 790px) {
  /* .why-code8-heading {} */
  .why_code8_heading h3 {
    height: 3rem;
    font-size: 3rem;
  }
  .why_code8_heading img {
    height: 100%;
  }
  .learn_grid_container {
    flex-direction: column-reverse;
  }
  .learn_grid_container img {
    padding-right: 0;
  }
  .learn_page-h1 {
    margin-top: 0;
    padding-left: 0;
    font-size: 2rem;
  }
  .learnPage {
    margin: 0.8rem;
  }
  .coursepg {
    padding: 0.5rem 0;
    font-size: 1rem;
  }
  .learnPage .btn {
    width: 100%;
    padding: 0.6rem;
    margin: 0;
  }
  .learnPage .btn .btn_content {
    font-size: 0.83rem;
    padding: 0;
    width: 87%;
  }
  .learnPage .btn .icon {
    width: 13%;
  }
}
#testbutton {
  margin-top: 2.3rem;
  width: 12rem;
  height: 50px;
  border-radius: 180px;
  position: relative;
  left: calc(50% - 6rem);
  top: calc(50% - 25px);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  cursor: pointer;
  line-height: 12px;
}
#testbutton:before {
  content: "";
  z-index: 1;
  position: absolute;
  display: block;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 10%;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: 0;
}
#testbutton:after {
  content: "Coming Soon!";
  text-align: center;
  line-height: 40px;
  font-size: 1.3rem;
  font-family: "PT Sans", sans-serif;
  color: #ebebeb;
  font-weight: 700;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 92%;
  height: 80%;
  top: 10%;
  left: 4%;
  background-color: #131416;
}
@media only screen and (min-width: 791px) {
  .bg_built_nextpro {
    margin-top: 70px;
    background-color: rgba(25, 120, 165, 0.7);
    padding-bottom: 2rem;
  }
}
