.navbar_c {
  height: 100%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar_s {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background: #55CAFA;
  height: 60px;
  width: 100%;
  color: #fff;
  align-items: center;
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  /* position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999; */
  border-bottom: solid 1px white;
  padding: 0 40px;
}

.login_sign {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: fit-content;
  width: fit-content;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* margin: 0 30px;
    padding: 0 40px; */
}

.navbar_s_logo {
  justify-self: start;
  cursor: pointer;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 165px;
  min-width: 15%;
  height: 100%;
}

.navbar_s_logo .logo_nav {
  width: 90%;
  object-fit: fill;
}

.navbar_s button {
  background: #089ee8;
}

.fa_firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav_menu {
  display: flex;
  color: white;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 50px;
  width: max-content;
  
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.nav_item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  align-items: center;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.nav_links {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  /* padding: 0.5rem 1rem; */
  height: 100%;
  padding: 10px;
  font-size: 18px;
  /* transition: all 0.2s ease-out; */
}

/* .nav_menu :hover {
  background-color: #08B3E5;
} */

.nav_links:hover {
  /* background-color: #1978a5; */
  border-radius: 4px;
  color: white;
  /* text-decoration: underline; */
  /* text-underline-offset: 5px; */
  cursor: pointer;
}

.fa_bars {
  color: black;
}

.nav_links_mobile {
  display: none;
}

.menu_icon {
  display: none;
}

.Mobi_navbar {
  display: none;
  font-family: "poppins";
  width: 100vw;
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
  background: #089ee8;
  z-index: 20;
  height: 90px;
  color: white;
  text-align: center;
  top: calc(100vh - 70px);
  border-radius: 10px 10px 0px 0px;
  /* box-shadow: inset 10px 10px 10px #48c0fc; */
}
.navbar{
  background: #00b7d5;
}
.navicons a {
  color: white;
  font-size: 1.7rem;
}

.navicons {
  font-size: 0.7rem;
}

@media screen and (max-width: 1020px) {
  .nav_item {
    width: 100%;
  }

  .nav_menu {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    position: absolute;
    top: 40px;
    opacity: 1;
    z-index: -1;
  }

  .hidden {
    left: -100%;
    transition: all 0.5s ease;
  }

  .active {
    background: #089ee8;
;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;

    align-items: center;
  }

  .nav_links {
    text-align: center;
    padding: 2rem;
    width: 85%;
    height: 50%;
    display: table;
  }

  .nav_links:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .menu_icon {
    display: block;
    position: absolute;
    right: 0;
    /* transform: translate(-100%, 60%); */
    font-size: 1.8rem;
    cursor: pointer;
    color: #00b7d5;
  }

  .login_sign {
    position: absolute;
    right: 5%;
  }

  .fa_times {
    color: White;
    font-size: 2rem;
  }

  .nav_links_mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    /* margin-bottom: 2rem auto; */
    margin-bottom: 2rem;
    /* margin: 0; */
    border-radius: 4px;
    /* width: 100%; */
    background: #1978a5;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }

  .nav_links_mobile:hover {
    background: #1fbfb8;
    color: #1978a5;
    transition: 250ms;
  }

  .Mobi_navbar {
    display: flex;
  }
}

.Popup {
  position: absolute;
  top: 80vh;
  right: 10px;
  background: rgb(0, 183, 213, 0.6);
  border-radius: 20px;
  overflow: hidden;
}

.popup_head {
  color: red;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.4rem 1rem;
  background: rgb(0, 183, 213);
}

.popup_body {
  padding: 0.8rem;
}

.popup_body p {
  color: white;
}
