.Whatwhy{
    font-family: "Poppins";
    padding: 15vh 0;
}

.what__card{
    height: 40%;
    width: 85%;
}

.what__card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    gap: 0.5rem;
    border-radius: 20px;
    flex-wrap: wrap;
    background-color: #000425;
    margin: 2rem auto;
}

.what__card__image{
    flex-basis: 270px;
 } 

.what__card__image img{
    width: 100%;
    object-fit: cover;
}

.what__head{
    font-size: 3rem;
    font-weight: 600;
    color:  #089ee8;
    border-bottom: solid 0.9px rgb(8, 158, 232,0.8) ;
    overflow: hidden;
}

.what__card__text{
    flex-basis: 250px;
    flex-grow: 1;
    text-align: justify;
    padding: 0.79rem;
    margin-bottom: 1.23rem;
    padding: 1.4rem 5rem
}
/* .what-head div{
  display: inline-block;
} */
@media only screen and (max-width: 760px) {
   .what__card__text{
       padding: 0.7rem;
   }
   .what__head{
    font-size: 2rem;
   }
}